/* DEFAULT */

* {
  box-sizing: border-box;
}

ul, ol {
  margin: 2px 10px 2px 10px;
  padding: 0;
  list-style-position: inside;
}

li {
  margin: 0;
}

body {
  margin: 0;
  background-color: #050A30;
}

/* STYLING MOBILE */

h1 {
  font-family: Poppins, sans-serif;
  font-weight: 800;
  font-size: 25pt;
  text-transform: uppercase;
  color: #F9E7C0;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 11pt;
  color: #F9EDF6;
}


p {
  font-family: Poppins, sans-serif;
  font-size: 9pt;
  margin: 0;
  padding: 0;
}

a {
  font-family: Poppins, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 15pt;
  text-decoration: none;

}

a:hover {
  font-family: Poppins, sans-serif;
  font-weight: 300;
  font-size: 18pt;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* STYLING NAVBAR MOBILE */

.kanologo {
  width: 5rem;

}

.burgermenu {
  width: 2.8rem;
}

.navbar-toggler {
  outline: none;
  border: none;
}

.navbar-toggler:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.navbar {
  background: rgba(1,10,48, .9);
}

main {
  margin-top: 5.5rem;
  height: calc(100vh - 6vh - 6vh);
}

.contactPicDesk {
  display: none;
}

.bookingDesk {
  display: none;
}

/*STYLING FOOTER MOBILE */
footer {
  bottom: 0;
}

footer a {
  font-size: 7pt;
  margin: 0;
  padding: 0;
}

footer p {
  font-size: 7pt;
}

.footerSoMe {
  display: none;
}

.copyright {
  font-size: 5pt;
}

/* STYLING VIDEO AND WALLPAPER FRONTPAGE MOBILE */
video {
  height: 100%;
  width: auto;
}

.wallpaper {
  position: relative;
  z-index: -1;
}

.container {
  height: 70vh;
}

/* STYLING LOCAL NAVIGATION MOBILE */
.locallink {
  font-size: 10pt;
  color: #050A30;
}

.locallink:hover {
  font-size: 10pt;
  font-weight: bold;
}

.localnavbar {
  position: sticky;
  bottom: 0;
}

/* STYLING FRAMED PICTURES MOBILE */
.framed {
  width: 70%;
  height: auto;
}

.salonpics {
  width: 100vw;
  height: auto;
}

/* TEXT BOXES MOBILE */
.theSalonTextDesktop {
  display: none;
}

/* BUTTON STYLING MOBILE */
button {
  background: #F9E7C0;
  border: none;
  border-radius: 3rem;
}

article button:hover {
  background: #F9F0DE;
}

button a {
  font-family: Poppins, sans-serif;
  font-size: 10pt;
  color: #050A30;
}

button a:hover {
  font-family: Poppins, sans-serif;
  font-size: 11pt;
  font-weight: bold;
  color: #050A30;
}

/* STYLING OF CONTACT PAGE MOBILE */
.soMeIconsMobile i {
  font-size: 30pt
}

.openingHours {
  font-size: 11pt;
}

div.openingHoursBox {
  background: rgba(232, 198, 219, .7);
  margin: 0;
}

.openingHoursDesktop {
  display: none;
}

.openingHoursContainer {
  --bs-gutter-x: 0;
}

  /* PRICELIST DISPLAY */   
.laptopDesktop {
  display: none;
}

/* STYLING OF STYLIST CARDS */
.textElementCard {
  position: absolute;
  bottom: 5%;
  right: 20%;
  left: 20%;
}

.textElementCard h2 {
  color: #F9E7C0;
}

.textElementCard a {
  color: #F9EDF6;
  font-size: 10pt;
}

.modalText p {
  color: #F9EDF6;
  padding-inline-end: 2.5rem;
}
.modal {
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 10%;
  vertical-align: middle;
  margin-right: -4px;
}


/* STYLING DESKTOP */

@media (min-width: 60rem) {

  h1 {
    font-family: Poppins, sans-serif;
    font-weight: 800;
    font-size: 40pt;
    color: #F9E7C0;
    margin: 0;
    padding: 0;
  }

  h2 {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 14pt;
    color: #F9EDF6;
  }


  p {
    font-family: Poppins, sans-serif;
    font-size: 12pt;
    margin: 0;
    padding: 0;
  }

  a {
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 15pt;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem;
    margin: 1rem;
  }

  a:hover {
    font-family: Poppins, sans-serif;
    font-weight: 300;
    font-size: 18pt;
  }


  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  /*STYLING NAVBAR DESKTOP */
  .kanologo {
    width: 5rem;
  }

  .burgermenu {
    width: 2.8rem;
  }
  .fontawesomeicons {
    display: none;
  }

  .collapse {
    justify-content: end;
    background-color: transparent;
    opacity: 100%;
  }

  /*STYLING FOOTER DESKTOP */
  footer {
    bottom: 0;
  }

  footer a {
    font-size: 15pt;
    margin-inline: 0;
    padding-inline: 0;
    justify-content: center;
  }

  footer p {
    font-size: 10pt;
  }

  .footerSoMe {
    display: block;
  }

  .copyright {
    font-size: 10pt;
  }

  /* STYLING LOCAL NAVIGATION DESKTOP */
  .locallink {
    font-size: 12pt;
  }

  .locallink:hover {
    font-size: 12pt;
    font-weight: bold;
  }




  /* STYLING FRAMED PICTURES DESKTOP */
  .framed {
    width: 80%;
    height: auto;
  }

  /* TEXT BOXES DESKTOP */
  .theSalonTextDesktop {
    display: block;
  }

  .theSalonTextMobile {
    display: none;
  }

  /* BUTTON STYLING MOBILE */
  button {
    background: #F9E7C0;
    border: none;
    border-radius: 3rem;
  }

  button:hover {
    background: #F9F0DE;
  }

  button a {
    font-family: Poppins, sans-serif;
    font-size: 12pt;
    color: #050A30;
  }

  button a:hover {
    font-family: Poppins, sans-serif;
    font-size: 13pt;
    font-weight: bold;
    color: #050A30;
  }


/* STYLING CONTACT PAGE */
  .bookingMobile {
    display: none;
  }

  .contactPicDesk {
    display: block;
  }

  .bookingDesk {
    display: block;
  }

  .contactHiddenDesktop {
    display: none;
  }

  .openingHoursDesktop {
    display: block;
    background: rgba(232, 198, 219, .7);
  }

  /* PRICELIST DISPLAY */

  .mobileTablet {
    display: none;
  }

  .laptopDesktop {
    display: block;
  }

  /* STYLING STYLIST CARDS DESKTOP */
  .textElementCard a:hover {
    font-size: 10pt;
    font-weight: bold;
  }

  /* POSITIONING OF MODAL ON LAPTOP AND DESKTOP */
  .modal:before {
    content: '';
    display: inline-block;
    height: 20%;
    vertical-align: middle;
    margin-right: -4px;
  }

  #carouselExampleAutoplaying button:hover{
    background: none;
  }

}
